<div flex layout="column" layout-fill>
  <md-toolbar id="toolbar" class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ui-sref="home({tab: 0})">
        <md-icon md-font-set="material-icons">arrow_back</md-icon>
      </md-button>
      <h2>
        <span>User Assignments</span>
      </h2>
    </div>
  </md-toolbar>

  <md-content flex>
    <div flex-offset-gt-sm="20" flex-gt-sm="60">
      <md-list>
        <md-subheader>Users assigned to todo '{{$ctrl.todo.text}}'</md-subheader>
        <hyf-todo-users-item ng-repeat="user in $ctrl.todo.allUsers track by user._id" user="user"
                             todo="$ctrl.todo"></hyf-todo-users-item>
      </md-list>
    </div>
  </md-content>

  <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="$ctrl.addUser($event)">
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</div>