<div flex layout="column" layout-fill>
  <md-toolbar id="toolbar" class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ui-sref="home({tab: 1})">
        <md-icon md-font-set="material-icons">arrow_back</md-icon>
      </md-button>
      <h2>
        <span>Todo Assignments</span>
      </h2>
    </div>
  </md-toolbar>

  <md-content flex>
    <div flex-offset-gt-sm="20" flex-gt-sm="60">
      <md-list>
        <md-subheader>Todo assignments for user {{$ctrl.user.name}}</md-subheader>
        <hyf-user-todos-item ng-repeat="todo in $ctrl.user.allTodos track by todo._id" todo="todo"
                             user="$ctrl.user"></hyf-user-todos-item>
      </md-list>
    </div>
  </md-content>

</div>